<!-- <img width="500" height="300" [src]="productDetails.image" alt="{{productDetails.name}}-image">
<p>Name: {{ productDetails.name }}</p>
<p>color: {{ productDetails.color }}</p>
<p>price : $ {{ productDetails.price }}</p>
<p>Discount Price: $ {{ getDiscountPrice().toFixed(2) }}</p>
<p>
  {{
  productDetails.inStock > 0
  ? "Only " + productDetails.inStock + " items left" : "Out of stock"
  }}
</p>

<button [disabled]="!(productDetails.inStock > 0)">Buy now</button> -->

<div class="ecart-product-container">
  <app-product-search></app-product-search>
</div>